.card-container {
    display: flex;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.card {
    max-width: 6rem;
    padding-left: 1rem;
}

.help-container {
    display: flex;
    margin-bottom: 0.5rem;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    font-size: 1.5rem;
}

.help {
    width: 100%;
    float: left;
    padding: 1.5rem;
    background-color: #eb5656;
    color: white;
    margin-left: .2rem;
    overflow: hidden;
    font-size: 3vw;
}

.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background-color: white;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}


.help:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #eb5656;
    color: white;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

.correct {
    background-color: #28a745;
}

.incorrect {
    background-color: #dc3545;
}

.disabled {
    background-color: #8f3333
}

/* HUD */

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid #eb5656;
    margin-top: 1.5rem;
}

#progressBarFull {
    height: 3.4rem;
    background-color: #eb5656;
    width: 0%;
}

/* LOADER */
#loader {
    border: 1.6rem solid white;
    border-radius: 50%;
    border-top: 1.6rem solid #eb5656;
    width: 12rem;
    height: 12rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    background-color: #eb5656;
    font-size: 1.5rem;
    margin: 15% auto;
    padding: 2rem;
    width: 30rem;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.popup-title {
    color: #fff !important;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}